@model EvaCoreWeb.Models.Tag

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tag</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dsc_tag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dsc_tag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isn_status_tag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isn_status_tag)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.isn_tag">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
